
$bigFont: 100px;
<<<<<<< HEAD
$color: yellow;
=======
$color: pink;
>>>>>>> b9a5acfde60d6fcea6b57edd5740259ffe14d9aa

.one {
  font-size: $bigFont;
}

.two{
  color: $color;
  font-size: $bigFont;
}


.three {
  background: red;
  &:hover {
    background: blue;
  }
}
